<style>
.container-fluid{
	padding-left:500px;
}
</style>
<div class='list-schemas'></div>
<div class='list-collection'>
	<div class='alert'>Select any material</div>
</div>

<div class='row'>
	<div class='col-sm-12'>
		<div class='form-group form-schema-new'></div>
		<div class='form-schema'></div>
	</div>
</div>
<script>var schemas = <%= JSON.stringify(conf.editableSchemas) %>;</script>
<script src='/core/js/admineditor.js'></script>
