html,
body {
	margin: 0;
	padding: 0;
}

body {
	background: #eee;
	padding: 65px 0 0 0;
}

* {
	font-family: 'Open Sans', sans-serif;
}

.form-control-code {
	min-height: 600px;
}

.form-control-code * {
	font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
}

a {
	cursor: pointer;
}

:focus {
	outline: none;
}

.btn {
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}

.btn:active {
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.3);
}

.container {
	position: relative;
}

#notifications {
	position: fixed;
	top: 55px;
	right: 5px;
	width: 200px;
}

#notifications .alert {
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
	font-size: 12px;
	padding: 3px 5px;
	border-radius: 0;
	border: none;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
	background:#fff;
}

.rows-multiple,
.rows-multiple .row {
	margin-bottom: 10px;
}

.form-row-view {
}

.form-row-view fieldset,
.form-row-view .multi {
	padding: 5px 5px 5px 5px;
	border-radius: 4px;
	background: rgba(0, 0, 0, 0.05);
	margin-bottom: 5px;
}

.form-row-view .multi-item {
	position: relative;
}

.form-row-view .multi-item fieldset {
	margin-right: 45px;
}

.form-row-view fieldset legend {
	font-weight: 300;
	font-style: italic;
	margin: 0;
	padding: 0;
	border: none;
	font-size: inherit;
}

.form-row-view .multi-item .btn-multi-delete {
	position: absolute;
	top: 0;
	right: 0;
}

.form-row-view label {
	font-weight: 600;
}

.form-row-view fieldset .form-group:last-child {
	margin-bottom: 0;
}

.form-row-view .form-group {
	margin-bottom: 5px;
}

.form-row-view .btn-group {
	margin-top: 5px;
}

.form-row-view .file-list {
	margin: 0;
	padding: 0;
}

.form-row-view .file-list li {
	display: inline-block;
	margin: 0 10px 0 0;
	padding: 0;
}

.form-row-view .file-list li a {
	display: inline-block;
	vertical-align: middle;
}

.form-row-view .btn-multi-add .text,
.form-row-view .btn-multi-delete .text,
.form-row-view .file-list li a .text {
	display: none;
}

.list-schemas .nav {
	margin-bottom: 15px;
}

.collection-list .wrapper {
	overflow-y: auto;
}

.list-group {
	margin-bottom: 0;
}

.list-group li {
	padding: 5px;
	font-size: 12px;
}

.list-group li ul {
	margin-top: 5px;
}

.list-group li ul li {
}
