html,
body {
	margin: 0;
	padding: 0;
}

body {
	background: #f6f6f6;
	padding: 65px 0 0 0;
}

* {
	font-family: 'Open Sans', sans-serif;
}

.container {
	position: relative;
}

a {
	cursor: pointer;
}

:focus,
:active:focus {
	outline: none !important;
}

.navbar {
	background: #fff;
	box-shadow: 0 2px 2px rgba(0, 0, 0, .05), 0 1px 0 rgba(0, 0, 0, .05);
	border: none;
	min-height: 46px;
}

.navbar a {
	color: #555;
	font-size: 13px;
}

.navbar .navbar-brand {
	padding: 13px 20px;
	height: 46px;
	font-size: 20px;
	border-right: 1px solid #f1f1f1;
}

.navbar .navbar-nav.navbar-right {
	margin-right: 0px;
}

.navbar .navbar-nav > li {
	border-left: 1px solid #f1f1f1;
	border-right: 1px solid #f1f1f1;
	margin-left: -1px;
}

.navbar .navbar-nav > li > a {
	padding: 13px 20px;
	transition: all .2s;
}

.navbar .navbar-nav > li > a .label {
	background: #5ebd5e;
	text-shadow: none;
}

.navbar .navbar-nav > li > a:hover {
	background: #f8f8f8;
}

.navbar-toggle .icon-bar {
	background: #555;
}

.nav-tabs {
	border-bottom: 2px solid #e4e4e4;
}

.nav-tabs > li {
	margin-bottom: -2px;
}

.nav-tabs > li > a,
.nav-tabs > li > a:hover {
	background-color: rgba(0, 0, 0, .05);
	border: none;
	border-bottom: 2px solid #e4e4e4;
	color: #777;
	margin: 0 6px 0 0;
	padding: 8px 20px;
	border-radius: 2px 2px 0 0;
	font-size: 13px;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover {
	background: #1d89cf;
	border: none;
	color: #fff;
	border-bottom: 2px solid #1a7ab9;
}

.tab-content > .tab-pane {
	padding: 10px;
	background: #fff;
	border: 1px solid #e4e4e4;
	border-top: none;
}

#notifications {
	position: fixed;
	top: 55px;
	right: 5px;
	width: 200px;
}

#notifications .alert {
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
	font-size: 12px;
	padding: 3px 5px;
	border-radius: 0;
	margin-bottom: 5px;
}

.list-schemas {
	position: fixed;
	z-index: 100;
	width: 240px;
	height: 100%;
	top: 0;
	left: 0;
	background: #23272d;
	font-size: 13px;
	padding-top: 46px;
}

.list-schemas > ul > li > a {
	color: #808b9c;
	transition: all .1s;
}

.list-schemas > ul > li > a:hover {
	color: #fff;
	background: none;
}

.list-schemas > ul > li.active > a {
	background: rgba(0, 0, 0, 0.2);
}

.list-collection {
	position: fixed;
	z-index: 100;
	width: 240px;
	height: 100%;
	top: 0;
	left: 240px;
	background: #5ebd5e;
	font-size: 13px;
	/*padding-top: 46px;*/
	padding-top: 84px;
	color: #fff;
}

.list-schemas > ul {
	overflow-y: auto;
	height: 100%;
}

.list-collection .view-list {
	height: 100%;
}

.list-collection .filter {
	background: rgb(198, 128, 70);
	position: absolute;
	top: 46px;
	left: 0;
	width: 100%;
	z-index: 110;
}

.list-collection .filter .toggle,
.list-collection .filter .alert {
	color: #fff;
	padding: 10px 15px;
	margin: 0;
	font-size: 13px;
	border: none;
	display: block;
	transition: all .1s;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.list-collection .filter .toggle:hover {
	text-decoration: none;
	background: rgba(0, 0, 0, 0.1);
}

.list-collection .filter .content {
	padding: 10px 15px;
	position: absolute;
	top: 0;
	left: -240px;
	width: 240px;
	background: rgb(198, 128, 70);
}

.list-collection .filter .content .form-group {
	margin: 0 0 6px 0;
}

.list-collection .nav {
	overflow-y: auto;
	height: 100%;
}

.list-collection .nav > li > a {
	color: #fff;
	transition: all .1s;
}

.list-collection .nav > li > a:hover {
	color: #fff;
	background: none;
}

.list-collection .nav > li.active > a {
	background: rgba(0, 0, 0, 0.1);
}

.form-schema .object-root {
	margin-bottom: 10px;
}

.form-schema label {
	font-weight: 600;
	margin-bottom: 0px;
	padding-left: 10px;
}

.form-schema .form-control {
	box-shadow: none;
	height: 29px;
	border: none;
	border-radius: 2px;
}

.form-schema textarea.form-control {
	height: 74px;
}

.form-schema .form-control:focus {
	box-shadow: none;
}

.form-schema .form-control-code {
	min-height: 304px;
	border: 1px solid #ccc;
}

.form-schema .form-control-code * {
	font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
}

.form-schema .cke_editor_content {
	box-shadow: none !important;
	border: 1px solid #ccc !important;
}

.form-schema .btn {
	padding: 3px 10px;
}

.form-schema .object,
.form-schema .array {
	background: rgba(130, 130, 100, 0.07);
	border-radius: 3px;
	padding: 5px;
	margin-bottom: 10px;
}

.form-schema .object > label,
.form-schema .array > label {
	font-size: 18px;
	margin-bottom: 10px;
}

.form-schema {
	padding-bottom: 20px;
}

.form-schema .btn.save .text,
.form-schema .btn.delete .text {
	margin-left: 5px;
}

.form-schema .form-group,
.form-schema .array {
	display: inline-block;
	width: 49%;
	vertical-align: top;
	margin: 0 1% 5px 0;
}

.form-schema .array {
	margin-right: 0;
	width: 100%;
}

.form-schema .form-group {
	padding-left: 200px;
	position: relative;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 3px;
}

.form-schema .form-group label {
	position: absolute;
	top: 4px;
	left: 0;
}

.form-schema .array .btn.add {
	margin-bottom: 15px;
	color: #fff;
	background-color: #31b0d5;
	border-color: #269abc;
}

.form-schema .array .btn .text {
	display: none;
}

.form-schema .array .items > div {
	background: rgba(130, 130, 100, 0.07);
	border-radius: 3px;
	position: relative;
	padding: 5px 50px 5px 5px;
}

.form-schema .array .items > div > .btn {
	position: absolute;
	top: 5px;
	right: 5px;
	color: #fff;
	background-color: #d9534f;
	border-color: #d43f3a;
}

.form-schema .array .items > .object > .form-group {
	vertical-align: bottom;
}

.form-schema .object > label {
	display: block;
}

.form-schema .input-file-inner .btn {
	background: none;
	padding: 0;
}
